@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

body {
  color: #353535;
  width: 100vw;
  font-family: "Poppins";
}

nav {
  background-color: #1f538e;
  position: fixed;
  width: 100%;
  height: 18vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 5vw;
  font-family: "Abril Fatface";
  font-weight: 600;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 1em;
  position: relative;
  top: 0.1em;
}

.nav-link {
  display: flex;
}

nav a {
  color: #fff;
  padding: 0.4em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3vw;
}

nav a:hover {
  color: #353535;
  background-color: #eef7fe;
}

section {
  padding: 6vw;
  min-height: 100vh;
}

#about h1 {
  font-size: 8vw;
  font-family: "Abril Fatface";
  padding-bottom: 0.1em;
}

#about h2 {
  font-size: 4vw;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2em;
}

#about p {
  font-size: 2.5vw;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(odd) {
  background-color: #f8e279;
}
section:nth-child(even) {
  background-color: #c4d0d0;
}

.read-more {
  margin-top: 2vw;
  height: 7vw;
  width: 25vw;
  font-size: 3vw;
  background-color: #c4d0d0;
  color: #353535;
  border-color: white;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.5s ease;
}

.read-more:hover {
  font-size: 3.5vw;
}

.container {
  margin-top: 2em;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}

h4 {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container a {
  width: 100%;
  padding: 1%;
}

div.card {
  width: 100%;
  height: 100%;
  background-color: #eef7fe;
  padding: 5%;
  display: flex;
  flex-direction: column;
  transition: background-color 0.8s ease;
}

div.card * {
  color: #353535;
}

div.card img {
  padding: 0.3em 0;
  max-width: 100%;
}

div.card:hover {
  background-color: #353535;
}

div.card:hover > * {
  color: white;
  opacity: 1;
}

@media (min-width: 480px) {
  nav {
    height: 6em;
  }

  nav a {
    font-size: 0.9em;
  }

  .logo {
    font-size: 1.5em;
  }

  .container a {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .read-more {
    height: 54px;
    width: 192px;
    font-size: 23px;
    background-color: #c4d0d0;
    color: #353535;
    border-color: white;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.5s ease;
  }

  .read-more:hover {
    font-size: 27px;
  }
}

@media (min-width: 1024px) {
  nav {
    height: 3.8em;
    flex-direction: row;
    justify-content: space-between;
  }

  nav a {
    padding: 1em;
    font-size: 1.1em;
  }

  .logo {
    font-size: 1.8em;
  }

  #about h1 {
    font-size: 82px;
  }

  #about h2 {
    font-size: 41px;
  }

  #about p {
    font-size: 26px;
  }

  .container a {
    width: 33.3%;
  }
}
